body {
    background-color: whitesmoke;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

.content {
    max-width: 1600px;
    margin: 0 auto;
    text-align: center;
    color: black;
    text-decoration: none;
}

.background{
    height: 725px;
    background-color: tan ;
    color: aliceblue;
}

.footer{
    font-size: 1.2em;
    text-decoration: underline;
    padding: 25px 50px;
    margin-top: 200px;
    
}

.home-title {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 2em;
    margin-top: 10px;
}

.book{
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    background-color: #d9c2a3;
    color: black;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.join{
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    background-color: #d9c2a3;
    color: black;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
}

.msg p{
    font-size: .8em;
    padding-bottom: 15px;
}

.msg {
    background-color: #6f7364;
    line-height: 1.5em;
    padding: 35px;
  }

  h2 {
    margin: 0;
}

#logo_link{
    padding-top: 5px;
}

nav a {
    padding: 35px;
    text-decoration: none;
    color: black;
    text-align: center;
}

.icon{
    padding-top: 10px;
    width: 80px;
}

footer .social img{
    padding-top: 15px;
}

.rivers-card{
    margin: 200px 0;
}

.camping-card{
    margin: 200px 0;
    border: 10px solid #d9c2a3;
}

.rapids-card{
    margin: 200px 0;
}

main section img {
    box-sizing: border-box;
}

header{
    background-color:rgba(20,30,13, .7) ;
}

nav a:hover {
    background-color: black;
}

footer p a:hover {
    text-decoration: underline;
}  

#hero-msg h1{
    text-align: center;
}

#hero-msg h4{
    text-align: center;
}

.button-box{
    text-align: center;
}

main section{
    text-align: center;
}
#background {
    height: 725px;
}

footer p {
    font-size: 1.2em;
} 

.logo{
    width: 80px;
    
}